<!doctype html>
<html>
  <head>
    <title>eye-tracker - Web Component wrapper for webgazer.js eye tracking software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../eye-tracker.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered">
      <h3>eye-tracker with video and prediction points</h3>
      <demo-snippet>
        <template>
          <eye-tracker show-video="true" show-prediction-points="true"></eye-tracker>
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
